.card-wrapper {
  margin-bottom: 2rem;
}

// used these guidelines https://www.bbc.co.uk/gel/guidelines/category/foundations

.card {
  position: relative;

  .card-link {
    position: static;

    &:before {
      background: transparent;
      bottom: 0;
      content: "";
      left: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      white-space: nowrap;
      z-index: 1;
    }
  }
  
  img {
    width: 100%;
  }

  .card-content {
    margin-top: 1.5rem;
  }

  .card-title {
    font-size: 1.125rem;
    @include media-breakpoint-up(md) {
      font-size: 1rem;
    }
  }
}
