.main-menu {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  li {
    list-style: none;
    font-size: 1rem;
  }
  a {
    padding: 20px 16px;
    display: inline-block;
    text-decoration: none;
    color: $white;
    &:hover {
      background-color: darken($primary, 5%);
    }
  }
}

.main-menu-item {
  position: relative;

  &.active {
    a {
      font-family: $font-family-heading;
    }
  }
  .main-menu-dropdown {
    pointer-events: none;
    opacity: 0;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0, 1);
  }
}
.main-menu-dropdown {
  position: absolute;
  left: auto;
  top: 100%;
  right: 0;
  white-space: nowrap;
  min-width: 200px;
  background-color: darken($primary, 10%);

  a {
    display: block;
  }
  
  .main-menu-item > a:hover + &,
  &:hover {
    pointer-events: auto;
    opacity: 1;
  }
}

.submenu-indicator {
  height: 8px;
  width: 8px;
  display: inline-block;
  border: 1px solid;
  border-color: transparent white white transparent;
  transform: rotate(45deg) translate(-2px, -2px);
  margin-left: 4px;
}
