---
layout: default
bodyClass: "page-resources"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-8">
        <div class="page-header-inner">
          <h1 class="title">{{page.title}}</h1>
          <div class="content">{{content}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="strip">
  <div class="container">
    <div class="row justify-content-start mb-4">
      {% assign resources = site.resources | sort: 'weight' %}
      
      {% for resource in resources %}
      <div class="col-12 col-sm-6 col-md-4 col-xl-3">
        <h2 class="card-title">
          {% if resource.externalUrl %}
          <a href="{{ resource.externalUrl }}" target="_blank" class="card-link">{{ resource.title }}</a>
          {% else %}
          <a href="{{ resource.url | relative_url }}" class="card-link">{{ resource.title }}</a>
          {% endif %}
        </h2>
      </div>

      {% endfor %}
    </div>
  </div>
</div>
